@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

:root {
	--gray-800: #111111;
	--gray-500: #9ca3af;
	--gray-300: #d1d5db;
	--focus-color: #68cef8;
	--violet: #4338ca;
	--z-index-1: 1;
	--z-index-2: 2;
}

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

/* Nav and Logo */
.nav {
	margin-bottom: 2rem;
}
.logo {
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

.logo-btn {
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.logo-title {
	font-family: 'Leckerli One', cursive;
	margin-left: 0.25rem;
}

/* Text area editor */
.editor-wrapper {
	width: 100%;
	margin: auto;
	max-width: 45rem;
}
.rich-text-options-wrapper {
	display: flex;
	flex-wrap: wrap;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: var(--z-index-1);
	padding: 0.5rem 0 1rem;
}

.ProseMirror {
	min-height: 100vh;
	padding: 1rem 0 3rem;
}
.ProseMirror:focus {
	outline: none;
}

.ProseMirror img {
	max-width: 100%;
	height: 20rem;
}

.ProseMirror .ProseMirror-selectednode {
	outline: 2px solid var(--focus-color);
}

a {
	color: var(--violet);
	cursor: pointer;
}

.ProseMirror p.is-editor-empty:first-child::before {
	content: 'Write your thoughts...';
	float: left;
	color: #ced4da;
	pointer-events: none;
	height: 0;
}

/* Modal */

.modal {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: var(--z-index-2);
}

.modal-content {
	background-color: white;
	padding: 2rem;
	margin: 1rem;
	overflow: auto;
	position: relative;
	overflow-y: auto;
	max-height: calc(100% - 2rem);
}

.close-btn {
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
	cursor: pointer;
}

.link-input-label {
	margin-bottom: 0.5rem;
	display: inline-block;
}
.link-input {
	display: inline-block;
	margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 0.3rem;
	border: 1px solid var(--gray-800);
}

/* CTA items */
.btn {
	margin-right: 0.5rem;
	padding: 0.2rem 1rem;
	border-radius: 0.3rem;
	border: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 0.9rem;
	margin-top: 0.5rem;
	display: inline-block;
}
.btn:disabled {
	cursor: auto;
}
.btn-primary-black {
	background-color: var(--gray-800);
	color: white;
}

.btn-primary-inactive:hover:not(:disabled) {
	background-color: var(--gray-500);
}

.btn-primary-violet {
	background-color: var(--violet);
	color: white;
}

.btn-primary-inactive {
	background-color: var(--gray-300);
	color: var(--gray-800);
}

/* utility styles */

.primary-color {
	color: var(--violet);
}

.bullet-style {
	margin-right: 0.5rem;
}

.list-style-none {
	list-style: none;
	padding-inline-start: 0;
	margin: 0;
}

.margin-top-2 {
	margin-top: 0.5rem;
}

.font-weight-medium {
	font-weight: 500;
}

.text-center {
	text-align: center;
}
.margin-bottom-0 {
	margin-bottom: 0;
}

.margin-top-0 {
	margin-top: 0;
}

b {
	font-weight: 600;
}
